In [663]:
# importing libraries
import  pandas as pd

In [664]:
#importing data set
data=pd.read_csv('heart_desease_data.csv')

In [665]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [666]:
#cheaking the missing values
data.isnull().head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [667]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [668]:
# tasking care of Duplicated values
data_dup= data.duplicated().any()

In [669]:
data_dup

True

In [670]:
data=data.drop_duplicates()

In [671]:
data_dup=data.duplicated().any()

In [672]:
data_dup

False

# Data processing

In [673]:
cate_val=[]
cont_val=[]

for column in data.columns:
    if data [column].nunique()<=10:
        cate_val.append(column)
    else:
        cont_val.append(column)

In [674]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [675]:
cont_val

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

# Encoding data

In [676]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [677]:
data['cp'].unique()

array([3, 2, 1, 0], dtype=int64)

In [678]:
cate_val.remove('sex')
cate_val.remove('target')
data=pd.get_dummies(data,columns=cate_val,drop_first=True)

In [679]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,63,1,145,233,150,2.3,1,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,37,1,130,250,187,3.5,1,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,41,0,130,204,172,1.4,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
3,56,1,120,236,178,0.8,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
4,57,0,120,354,163,0.6,1,False,False,False,...,True,False,True,False,False,False,False,False,True,False

# Feature scalling

In [680]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,63,1,145,233,150,2.3,1,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,37,1,130,250,187,3.5,1,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,41,0,130,204,172,1.4,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
3,56,1,120,236,178,0.8,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
4,57,0,120,354,163,0.6,1,False,False,False,...,True,False,True,False,False,False,False,False,True,False

In [681]:
 from sklearn.preprocessing import StandardScaler

In [682]:
st=StandardScaler()
data[cont_val]=st.fit_transform(data[cont_val])

In [683]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,0.949794,1,0.764066,-0.261285,0.018826,1.084022,1,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,-1.928548,1,-0.091401,0.067741,1.636979,2.118926,1,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,-1.485726,0,-0.091401,-0.822564,0.980971,0.307844,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
3,0.174856,1,-0.661712,-0.203222,1.243374,-0.209608,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
4,0.285561,0,-0.661712,2.080602,0.587366,-0.382092,1,False,False,False,...,True,False,True,False,False,False,False,False,True,False

# splitting the dataset into the training set and test set

In [684]:
x=data.drop('target',axis=1)

In [685]:
y=data['target']

In [686]:
from sklearn.model_selection import train_test_split

In [687]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [688]:
x_train

,age,sex,trestbps,chol,thalach,oldpeak,cp_1,cp_2,cp_3,fbs_1,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
161,0.064151,0,0.022661,1.848349,0.718568,0.135360,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
105,1.503322,0,-0.661712,-0.687083,-1.511859,0.394086,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
119,-0.932199,0,0.364848,-0.067741,0.106294,-0.899544,False,False,False,False,...,True,True,False,False,False,False,False,False,True,False
244,0.174856,1,0.022661,-1.209652,-1.949198,0.911538,False,False,False,False,...,True,True,False,True,False,False,False,True,False,False
117,0.174856,1,-0.661712,-1.035462,0.543632,0.739054,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.839089,0,1.619532,-1.596741,-0.199843,4.447460,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
256,0.396267,1,-0.205463,0.241930,-0.855851,1.687716,False,False,False,False,...,True,True,False,False,True,False,False,False,False,True
72,-2.814192,1,-0.091401,-0.822564,2.292987,-0.899544,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
236,0.396267,1,-0.376556,1.035462,0.937237,-0.899544,False,False,False,False,...,False,False,True,False,True,False,False,False,False,True
37,-0.046555,1,1.049221,-0.280639,0.674834,0.480328,False,True,False,False,...,False,False,True,False,False,False,False,False,False,True

In [689]:
y_train

161    1
105    1
119    1
244    0
117    1
      ..
204    0
256    0
72     1
236    0
37     1
Name: target, Length: 241, dtype: int64

In [690]:
x_train.head()

,age,sex,trestbps,chol,thalach,oldpeak,cp_1,cp_2,cp_3,fbs_1,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
161,0.064151,0,0.022661,1.848349,0.718568,0.135360,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
105,1.503322,0,-0.661712,-0.687083,-1.511859,0.394086,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
119,-0.932199,0,0.364848,-0.067741,0.106294,-0.899544,False,False,False,False,...,True,True,False,False,False,False,False,False,True,False
244,0.174856,1,0.022661,-1.209652,-1.949198,0.911538,False,False,False,False,...,True,True,False,True,False,False,False,True,False,False
117,0.174856,1,-0.661712,-1.035462,0.543632,0.739054,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True

In [691]:
y_test

174    0
88     1
163    1
243    0
110    1
      ..
194    0
78     1
248    0
220    0
235    0
Name: target, Length: 61, dtype: int64

# Logistic Regression

In [692]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,0.949794,1,0.764066,-0.261285,0.018826,1.084022,1,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,-1.928548,1,-0.091401,0.067741,1.636979,2.118926,1,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,-1.485726,0,-0.091401,-0.822564,0.980971,0.307844,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
3,0.174856,1,-0.661712,-0.203222,1.243374,-0.209608,1,True,False,False,...,False,False,True,False,False,False,False,False,True,False
4,0.285561,0,-0.661712,2.080602,0.587366,-0.382092,1,False,False,False,...,True,False,True,False,False,False,False,False,True,False

In [693]:
from sklearn.linear_model import LogisticRegression

In [694]:
log=LogisticRegression()
log.fit(x_train,y_train)

LogisticRegression()

In [695]:
y_pred1=log.predict(x_test)

In [696]:
from sklearn.metrics import accuracy_score

In [697]:
accuracy_score(y_test,y_pred1)

0.8688524590163934

# SVC

In [698]:
from  sklearn import  svm

In [699]:
svm=svm.SVC()

In [700]:
svm.fit(x_train,y_train)

SVC()

In [701]:
y_pred2=svm.predict(x_test)

In [702]:
accuracy_score(y_test,y_pred2)

0.8032786885245902

# KNdeighbors Classifier

In [703]:
from sklearn.neighbors import KNeighborsClassifier

In [704]:
knn=KNeighborsClassifier()

In [708]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [710]:
#y_pred3=knn.predict(x_test)
#accuracy_score(y_test,y_pred3)

In [ ]:
score=[]
for  k in range(1,40):
    knn=KNeighborsClassifier(n_neighbors=k)

    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    score.append(accuracy_score(y_test,y_pred))

# Non-Linear  ML Algorithm

In [ ]:
data=pd.read_csv('heart_desease_data.csv')

In [ ]:
data.head()

In [ ]:
data=data.drop_duplicates()

In [ ]:
data.shape

In [ ]:
x=data.drop('target',axis=1)
y=data['target']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

# Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt=DecisionTreeClassifier()

In [ ]:
dt.fit(x_train,y_train)

In [ ]:
y_pred4=dt.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred4)

# Random forest classifier

In [ ]:
from sklearn.ensemble  import RandomForestClassifier

In [ ]:
rf=RandomForestClassifier()

In [ ]:
rf.fit(x_train,y_train)

In [ ]:
y_pred5=rf.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred5)

# Gradient Boosting  Classifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbc=GradientBoostingClassifier()

In [ ]:
gbc.fit(x_train,y_train)

In [ ]:
y_pred6=gbc.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred6)

In [ ]:
final_data=pd.DataFrame({"Model":['LR','SVM','KNN','DT','RF','GB'],
                        'ACC':[accuracy_score(y_test,y_pred1),
                              accuracy_score(y_test,y_pred2),
                              accuracy_score(y_test,y_pred3),
                              accuracy_score(y_test,y_pred4),
                              accuracy_score(y_test,y_pred5),
                              accuracy_score(y_test,y_pred6)]})

In [707]:
final_data

  Model       ACC
0    LR  0.868852
1   SVM  0.803279
2   KNN  0.557377
3    DT  0.508197
4    RF  0.459016
5    GB  0.573770